@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }
}

/* bg black width screen. height 100vh overflow hidden */
body {
  background-color: black;
  color: white;
  width: 100vw;
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
